<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Toppings Manager</title>
  </head>
  <body>
  <div class="container pt-5">
  <div class="col-12 bg-secondary text-light p-2 border shadow shadow-sm text-center" style="position:absolute;top:20px; left:30%; width:6rem">Your Cart</div>
  <div class="col-12 bg-secondary text-light p-2 border shadow shadow-sm text-center" style="position:absolute;top:20px; left:65%; width:6rem">Ingredients</div>
  <div class="d-flex justify-content-around">

      {#  Your Cart#}
      <div class="row row-cols-3 p-1 bg-light border rounded-3 w-25 gy-1">
          {% for topping in topping_list %}
              {% if topping.is_added %}
                  <div class="col-9 bg-white p-2 border shadow shadow-sm">{{ topping.name}}
                    <span class="text-muted"> | {{ topping.price }} руб.</span>
                  </div>
                  <div class="col-1"></div>
                  <a href="{% url 'topping_remove' topping.id %}" class="col-2 btn btn-sm btn-outline-danger pt-2">X</a>
              {% else %}
                  <div class="col-9 bg-white p-2 border shadow shadow-sm invisible"><s>{{ topping.name}}
                    <span class="text-muted"> | {{ topping.price }} руб.</span></s>
                  </div>
                  <div class="col-1"></div>
                  <a class="col-2 btn btn-sm btn-outline-danger pt-2 invisible">X</a>
              {% endif %}

          {% endfor %}
          <div class="col-10 bg-white p-2 border"><strong>Total</strong></div>
          <div class="col-2 bg-white p-2 border"><strong>
{#              TODO: Create dynamic total_price that is updated when we add a topping #}
              {{ price_total}} руб.
          </strong></div>
      </div>

      {# Ingredients #}
      <div class="row row-cols-3 p-1 bg-light border rounded-3 w-25 gy-1">

          {% for topping in topping_list %}
              {% if topping.is_added %}
                  <div class="col-9 bg-white p-2 border shadow shadow-sm invisible"><s>{{ topping.name}}
                    <span class="text-muted"> | {{ topping.price }} руб.</span></s>
                  </div>
                  <div class="col-1"></div>
                  <a class="col-2 btn btn-sm btn-outline-success pt-3 invisible">+</a>
              {% else %}
                  <div class="col-9 bg-white p-2 border shadow shadow-sm">{{ topping.name}}
                    <span class="text-muted"> | {{ topping.price }} руб.</span>
                  </div>
                  <div class="col-1"></div>
                 <a href="{% url 'topping_add' topping.id %}" class="col-2 btn btn-sm btn-outline-success pt-3">+</a>
              {% endif %}

          {% endfor %}

      </div>


  </div>

  </div>
   <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>